@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');
@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, bumblebee, dark;
}
body {
  font-family: "Nunito", sans-serif;
}

.heading-logo {
  font-family: "DynaPuff", system-ui;
}

.text-bubble-yellow {
  color: #ffffff; /* teks hitam */
  text-shadow:
    -3px -3px 0 #facc15,
     3px -3px 0 #facc15,
    -3px  3px 0 #facc15,
     3px  3px 0 #facc15,
     0px -3px 0 #facc15,
     0px  3px 0 #facc15,
    -3px  0px 0 #facc15,
     3px  0px 0 #facc15;
}
